body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: #CACACA;
}

.banner-column{
    background-color: #8D8D8D;
}

.navbar-container{
    background-color:slategrey;
}

.about-container{
    background-color: #84AF9C;
}

.education-container{
    background-color: #E1EEC3;
}

.education-color{
    background-color: #A8216B;
}

.education-text-color{
    color: #494949;
}

.circle{
    background-color: #494949;
    width: 210px;
    height: 215px;
    border-radius: 50%;
}

.card-bg{
    background-color: #494949;
    width: 150px;
    height: 75px;
}

.project-container{
    background-color:slategrey;
}

.career-container{
    background-color: rgb(141, 141, 141);
}

.achiv-container{
    background-color: rgb(141, 141, 141);
}

.box{
    background-color: #494949;
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

.achiv-text-color{
    color: rgb(255, 254, 234);
}

.footer{
    background-color: #2BB3DD;
}

.circle-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: #2BB3DD;

}

.circle-icon:hover{
    background-color: #474D5D;

}
